* {
  margin: 0;
  padding: 0;
}
.parent-title-nav {
  display: flex;
  justify-content: end;
  margin-left: 1500px;
}
.title-navbar-home {
  color: white;
}
.parent-isi1-active {
  background: rgb(241, 241, 241);
  margin-right: 20px;
  border-radius: 0 10px 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: 100ms;
}

.box-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(0, 149, 218);
}
.navbar-home {
  background-color: rgb(0, 149, 218);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.img-home {
  width: 50%;
}
.content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

.parent-detail {
  display: flex;
  justify-content: center;
}
.box-detail {
  top: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  height: 250px;
  background: white;
  border-radius: 20px;
  margin-top: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 10px;
}
.desk-icon {
  margin-left: 10px;
}

.title-home {
  color: white;
  font-size: 35px;
}
.desk-home {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.title-program-edu {
  text-align: center;
  color: rgb(0, 149, 218);
  margin-bottom: 20px;
}
.seluruh-program {
  margin-top: 250px;
  text-align: center;
  background: rgb(243, 251, 255);
  padding-top: 30px;
}
.desk-all-program {
  margin-bottom: 20px;
  font-size: 19px;
  color: rgb(80, 80, 80);
}

.parent-keunggulan {
  text-align: center;
  margin-top: 10px;
}
.keunggulan-edu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-keunggulan {
  width: 20%;
}
.pengajar-muda {
  border-right: 1px solid rgb(212, 212, 212);
}
.metode {
  border-left: 1px solid rgb(212, 212, 212);
}
.bahan-ajar {
  border-left: 1px solid rgb(212, 212, 212);
}
.tingkat-kelulusan {
  border-left: 1px solid rgb(212, 212, 212);
}

.btn-daftar-viawa {
  background: rgb(15, 168, 15);
  padding: 20px;
  text-decoration: none;
  color: white;
  border: none;
  margin-top: 30px;
  width: 30%;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid white;
  transition: 300ms;
}
.btn-daftar-viawa:hover {
  border-radius: 30px;
}
.btn-daftar-viahp {
  background: orangered;
  padding: 20px;
  text-decoration: none;
  color: white;
  border: none;
  margin-top: 30px;
  width: 30%;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
  border: 1px solid white;
  transition: 300ms;
}
.btn-daftar-viahp:hover {
  border-radius: 30px;
}
.icon-wa {
  font-size: 20px;
}
.icon-hp {
  font-size: 20px;
}

.box-jadwal {
  display: flex;
  margin-top: 250px;
  text-align: center;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}
.title-jadwal {
  color: rgb(0, 149, 218);
}
.desk-jadwal {
  font-size: 19px;
  margin-top: 20px;
  color: rgb(80, 80, 80);
  text-align: justify;
}

.btn-sidebar {
  margin-left: 35px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  background: orangered;
  padding: 10px;
  width: 70%;
  border: none;
  font-family: "Varela Round", sans-serif;
  border-radius: 50px;
  font-size: 16px;
}

.copyright {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}

.daftar-end {
  background: rgb(243, 251, 255);
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 250px;
}
.title-daftar-end {
  font-size: 30px;
}
.desk-daftar-end {
  font-size: 20px;
}
.btn-wa-end {
  background: rgb(15, 168, 15);
  font-size: 18px;
  padding: 12px;
  border-radius: 100px;
  border: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.btn-hp-end {
  background: orangered;
  font-size: 18px;
  padding: 12px;
  border-radius: 100px;
  border: none;
  color: white;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 10px;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
.group-btn-daftarend {
  margin-top: 10px;
  margin-bottom: 10px;
}

.all-accordion {
  margin-top: 250px;
  padding-left: 80px;
  padding-right: 80px;
  background: rgb(243, 251, 255);
  padding-top: 50px;
  padding-bottom: 50px;
}
.title-accordion {
  margin-bottom: 25px;
  color: rgb(0, 149, 218);
}

.box-wa {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgb(0, 149, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 99;
}
.wa {
  color: white;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.btn-wa {
  background: rgb(15, 168, 15);
  border: none;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
}
.call {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
}
.btn-call {
  background: orangered;
  border: none;
  padding: 20px;
  margin-left: 20px;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
}

.parent-univ {
  text-align: center;
  margin-top: 250px;
}

.parent-promo {
  text-align: center;
  margin-top: 250px;
}
.title-promo {
  margin-bottom: 20px;
  color: rgb(0, 149, 218);
}

.parent-video {
  text-align: center;
  margin-top: 250px;
}
.ratio-yt {
  width: 75%;
  height: 750px;
  max-width: 100%;
  border: 10px solid white;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* IPAD MINI */
@media only screen and (max-width: 768px) {
  .content-home {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-home {
    width: 100%;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .ratio-yt {
    width: 90%;
    height: 500px;
    border: 5px solid white;
  }
}
/* IPAD AIR */
@media only screen and (max-width: 820px) {
  .content-home {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-home {
    width: 100%;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .ratio-yt {
    width: 90%;
    height: 500px;
    border: 5px solid white;
  }
}
/* SURFACE PRO 7 */
@media only screen and (max-width: 912px) {
  .content-home {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-home {
    width: 100%;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .img-jadwal {
    width: 100%;
  }
  .title-jadwal {
    font-size: 38px;
  }
  .desk-jadwal {
    font-size: 25px;
  }
  .ratio-yt {
    width: 90%;
    height: 500px;
    border: 5px solid white;
  }
}
/* SURFACE DUO */
@media only screen and (max-width: 540px) {
  .parent-promo {
    padding: 10px;
  }
  .gambar-hilpi {
    width: 50% !important;
  }
  .ratio-yt {
    width: 90%;
    height: 500px;
    border: 5px solid white;
  }
}
/* NEST HUB */
@media only screen and (max-width: 1024px) {
  .content-home {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-home {
    width: 100%;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-daftar-viahp {
    width: 50%;
  }
  .img-keunggulan {
    width: 40%;
  }
  .box-jadwal {
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
  }
  .btn-daftar-viahp {
    width: 100% !important;
    margin-left: 0;
  }
  .btn-daftar-viawa {
    width: 100% !important;
  }
  .ratio-yt {
    width: 90%;
    height: 500px;
    border: 5px solid white;
  }
}
/* NEST HUB MAX */
@media only screen and (max-width: 1280px) {
  .content-home {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-home {
    width: 100%;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-daftar-viahp {
    width: 50%;
  }
  .img-keunggulan {
    width: 40%;
  }
  .box-jadwal {
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
  }
  .ratio-yt {
    width: 90%;
    height: 550px;
    border: 5px solid white;
  }
}

/* IPHONE XR */
@media only screen and (max-width: 550px) {
  .title-home {
    font-size: 25px;
  }
  .desk-home {
    font-size: 17px;
  }
  .box-detail {
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .icon {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .icon-detail {
    display: grid;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .desk-icon {
    margin-left: 0;
    margin-right: 0;
  }
  .content-home {
    padding: 15px;
    padding-bottom: 0;
  }
  .btn-daftar-viahp {
    margin-left: 0;
    width: 100%;
  }
  .btn-daftar-viawa {
    width: 100% !important;
  }
  .btn-daftar-viahp {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .box-detail {
    display: grid;
  }
  .icon {
    display: grid;
    place-items: center;
    margin-left: 0;
  }
  .icon-detail {
    display: grid;
    place-items: center;
    margin-top: 10px;
    width: 40%;
  }
  .desk-icon {
    text-align: center;
  }
  .box-detail {
    height: auto;
  }
  .keunggulan-edu {
    flex-wrap: wrap;
  }
  .pengajar-muda {
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: none;
    border-right: none;
    width: 90%;
  }
  .h4-metode {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 90%;
  }
  .bahan-ajar {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 90%;
  }
  .tingkat-kelulusan {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 90%;
  }
  .metode {
    border-left: none;
  }
  .bahan-ajar {
    border-left: none;
  }
  .tingkat-kelulusan {
    border-left: none;
  }
  .h4-tingkat-kelulusan {
    border-right: none;
    margin-left: 20px;
  }
  .desk-home {
    text-align: justify;
  }
  .box-jadwal {
    width: 100%;
    padding: 0;
  }
  .img-jadwal {
    width: 100%;
    margin-top: 20px;
  }
  .desk-jadwal {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .all-accordion {
    font-family: "Varela Round', sans-serif";
    padding-left: 25px;
    padding-right: 25px;
  }
  .title-accordion {
    font-size: 23px;
  }
  .img-keunggulan {
    width: 25%;
  }
  .btn-hp-end {
    margin-left: 0;
    margin-top: 10px;
  }
  .daftar-end {
    padding: 15px;
  }
  .h4-metode {
    margin-top: 20px;
  }
  .bahan-ajar {
    margin-top: 20px;
  }
  .tingkat-kelulusan {
    margin-top: 20px;
  }
  .title-program-edu {
    font-size: 25px;
  }
  .desk-all-program {
    text-align: justify;
    font-size: 18px;
  }
  .title-promo {
    font-size: 23px;
  }
  .title-jadwal {
    font-size: 25px;
  }
  .desk-jadwal {
    font-size: 18px;
  }
  .title-daftar-end {
    font-size: 25px !important;
  }
  .daftar-end {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .desk-daftar-end {
    font-size: 18px !important;
  }
  .title-accordion {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .ratio-yt {
    width: 90%;
    height: 400px;
    border: 5px solid white;
  }
}
/* IPHONE SE */
@media only screen and (max-width: 375px) {
  .daftar-end {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .title-accordion {
    font-family: "Varela Round', sans-serif";
  }
  .parent-promo {
    padding: 10px;
  }
  .title-program-edu {
    font-size: 23px !important;
  }
  .ratio-yt {
    width: 90%;
    height: 400px;
    border: 5px solid white;
  }
}
/* IPHONE 12 PRO */
@media only screen and (max-width: 390px) {
  .parent-promo {
    padding: 10px;
  }
  .title-promo {
    font-size: 25px;
  }
  .title-program-edu {
    font-size: 25px;
  }
  .desk-all-program {
    font-size: 17px;
    text-align: justify;
  }
  .img-keunggulan {
    width: 20%;
  }
  .h4-metode {
    margin-top: 20px;
  }
  .bahan-ajar {
    margin-top: 20px;
  }
  .tingkat-kelulusan {
    margin-top: 20px;
  }
  .title-jadwal {
    font-size: 25px;
  }
  .desk-jadwal {
    font-size: 17px;
  }
  .title-daftar-end {
    font-size: 25px !important;
  }
  .daftar-end {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .desk-daftar-end {
    font-size: 18px !important;
  }
}
/* PIXEL 5 */
@media only screen and (max-width: 393px) {
  .gambar-hilpi {
    width: 90%;
  }
  .title-accordion {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .title-jadwal {
    font-size: 23px;
  }
  .desk-jadwal {
    font-size: 17px;
  }
  .title-promo {
    font-size: 20px;
  }
  .parent-promo {
    padding: 10px;
  }
  .title-program-edu {
    font-size: 23px;
  }
  .desk-all-program {
    font-size: 17px;
  }
}
/* GALAXY S8+ */
@media only screen and (max-width: 360px) {
  .title-program-edu {
    font-size: 22px !important;
  }
  .desk-all-program {
    font-size: 16px;
  }
  .title-jadwal {
    font-size: 20px;
  }
  .desk-jadwal {
    font-size: 16px;
  }
}
/* GALAXY S20 ULTRA */
@media only screen and (max-width: 412px) {
  .title-program-edu {
    font-size: 22px;
  }
  .desk-all-program {
    font-size: 16px;
  }
  .title-jadwal {
    font-size: 23px;
  }
  .desk-jadwal {
    font-size: 16px;
  }
  .parent-promo {
    padding: 20px;
  }
  .title-accordion {
    font-size: 22px;
  }
}
/* GALAXY FOLD */
@media only screen and (max-width: 280px) {
  .parent-promo {
    padding: 10px;
  }
  .ratio-yt {
    width: 90%;
    height: 300px;
    border: 5px solid white;
  }
}
/* GALAXY A51 */
@media only screen and (max-width: 412px) {
  .desk-icon {
    margin-right: 0 !important;
  }
  .img-keunggulan {
    width: 30% !important;
  }
}