.parent-isi3-active {
  background: rgb(241, 241, 241);
  margin-right: 20px;
  border-radius: 0 10px 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: 100ms;
}
.box-ptn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(0, 149, 218);
}
.img-ptn {
  width: 50%;
  margin-left: 10px;
}
.content-ptn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}
.title-ptn {
  color: white;
  font-size: 35px;
}
.desk-ptn {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.run-img {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: -1;
}
.parent-all-img {
  display: flex;
}
.img-marque1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 5px solid white;
  border-radius: 30px 0 0 30px;
}
.img-marque4 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0 30px 30px 0;
  border: 5px solid white;
  margin-left: 30px;
}
.img-marque {
  margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 5px solid white;
}
.parent-img-marque {
  text-align: center;
}
.title-run {
  margin-left: 30px;
  margin-top: 10px;
  color: rgb(49, 49, 49);
}
.title-run1 {
  margin-top: 10px;
  color: rgb(49, 49, 49);
}
.btn-chat-ptn {
  margin-left: 30px;
  margin-top: 15px;
  width: 70%;
  background: orangered;
  color: white;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
}
.btn-chat-ptn1 {
  width: 70%;
  margin-top: 15px;
  background: orangered;
  color: white;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
}

/* HOME TUTORING */
.home-tutoring {
  position: relative;
  z-index: -1;
  margin-top: 250px;
}
.text-tutoring {
  text-align: center;
  margin-bottom: 35px;
}
.title-tutoring {
  color: rgb(0, 149, 218);
}
.desk-tutoring {
  color: rgb(94, 94, 94);
}

/* LOGO UNIV */
.logo-univ {
  margin-top: 250px;
  text-align: center;
}

/* IPAD MINI */
@media only screen and (max-width: 768px) {
  .content-ptn {
    display: grid;
  }
  .img-ptn {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .text-tutoring {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-logo-univ {
    width: 100%;
  }
}
/* IPAD AIR */
@media only screen and (max-width: 820px) {
  .content-ptn {
    display: grid;
  }
  .img-ptn {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .text-tutoring {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-logo-univ {
    width: 100%;
  }
}
/* SURFACE PRO 7 */
@media only screen and (max-width: 912px) {
  .content-ptn {
    display: grid;
  }
  .img-ptn {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .text-tutoring {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-logo-univ {
    width: 100%;
  }
}
/* SURFACE DUO */
@media only screen and (max-width: 912px) {
  .content-ptn {
    display: grid;
  }
  .img-ptn {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .text-tutoring {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-logo-univ {
    width: 100%;
  }
  .title-ptn {
    font-size: 30px !important;
  }
}
/* NEST HUB */
@media only screen and (max-width: 1024px) {
  .content-ptn {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-ptn {
    width: 100%;
    margin-top: 20px;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .parent-card {
    padding: 10px;
  }
  .card-prioriti {
    width: 100%;
  }
}
/* NEST HUB MAX */
@media only screen and (max-width: 1280px) {
  .content-ptn {
    display: grid;
  }
  .box-detail {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .desk-icon {
    margin-right: 20px;
  }
  .img-ptn {
    width: 100%;
    margin-top: 20px;
  }
  .parent-btn {
    text-align: center;
  }
  .btn-daftar-viawa {
    width: 48%;
  }
  .btn-daftar-viahp {
    width: 48%;
  }
  .keunggulan-edu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seluruh-program {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .h4-tingkat-kelulusan {
    width: 90%;
    margin-left: 10px;
  }
  .h4-metode {
    width: 63%;
  }
  .img-keunggulan {
    width: 50%;
  }
  .box-jadwal {
    display: grid;
  }
  .img-univ {
    width: 100%;
  }
  .daftar-end {
    text-align: center;
  }
  .img-promo {
    width: 100%;
  }
  .parent-promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-daftar-viahp {
    width: 50%;
  }
  .img-keunggulan {
    width: 40%;
  }
  .box-jadwal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .parent-card {
    padding: 10px;
  }
  .card-prioriti {
    width: 100%;
  }
}

/* IPHONE XR */
@media only screen and (max-width: 550px) {
  .content-ptn {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .img-ptn {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .text-tutoring {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title-ptn {
    font-size: 22px;
  }
  .desk-ptn {
    font-size: 17px;
    text-align: justify;
  }
}
/* IPHONE SE */
@media only screen and (max-width: 375px) {
  .content-ptn {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .img-ptn {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .text-tutoring {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title-ptn {
    font-size: 22px;
  }
  .desk-ptn {
    font-size: 17px;
  }
}
/* IPHONE SE */
@media only screen and (max-width: 280px) {
  .content-ptn {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .img-ptn {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }
  .text-tutoring {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title-ptn {
    font-size: 22px;
  }
  .desk-ptn {
    font-size: 17px;
  }
}
