@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400&family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
}
.check-icon {
  color: #33c4b6;
}
.wrapper {
  display: flex;
  justify-content: center;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* margin: -190px 0 0 -468px; */
  font-weight: 400;
  color: #9f9f9f;
  font-size: 15px;
}
.package {
  box-sizing: border-box;
  width: 330px;
  height: auto;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  /* float: left; */
  transition: margin-top 0.5s linear;
  position: relative;
  margin-right: 11px;
  cursor: pointer;
  background: white;
}
.package:hover {
  margin-top: -30px;
  transition: margin-top 0.3s linear;
  margin-bottom: 30px;
}
.package3 {
  box-sizing: border-box;
  width: 330px;
  height: auto;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  /* float: left; */
  transition: margin-top 0.5s linear;
  position: relative;
  margin-right: 11px;
  cursor: pointer;
  background: white;
  margin-right: 0;
}
.package3:hover {
  margin-top: -30px;
  transition: margin-top 0.3s linear;
  margin-bottom: 30px;
}
.name {
  color: #565656;
  font-weight: 300;
  font-size: 30px;
  margin-top: -5px;
}
.price {
  margin-top: 7px;
  font-weight: bold;
}
.price::after {
  font-weight: normal;
}
hr {
  background-color: #dedede;
  border: none;
  height: 1px;
}
.trial {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: #33c4b6;
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  position: relative;
  bottom: -12px;
}
ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
}
.card-li {
  margin-bottom: 15px;
  list-style: none;
}
.card-li:before {
  font-size: 1.3rem;
  color: #33c4b6;
  margin-right: 3px;
  list-style: none;
}
.checkIcon,
.card-li:before,
.brilliant::after {
  font-family: "FontAwesome";
  content: "";
}
.brilliant {
  border-color: #33c4b6;
}
.brilliant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #3bc6b8 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.brilliant::after {
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  text-shadow: 0 0 2px #37c5b6;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}